.col-container {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
  height: 700px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.vizient-col-container {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
  height: 500px;
}

.spring-col-container {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
  height: 600px;
}

.tony-romo-col-container {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
  overflow-x: hidden;
  overflow-y: hidden;
}

.image-container {
  height: 100%;
  display: table-cell;
}

.ha-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 270px;
  margin-bottom: 270px;
}

.spring-logo {
  margin-top: 170px;
}

.easy-pay-background {
  background-image: url("../assets/projects/easy-pay-pages/background.png");
}

.vizient-image-container {
  background-image: url("../assets/projects/vizient.jpg");
  background-position: center;
}

.gunpla-image-container {
  background-image: url("../assets/projects/dom.png");
  background-size: cover;
}

.rm-image-container {
  background-image: url("../assets/projects/rickAndMortySoundboard.png");
  background-size: cover;
}

.tony-romo-image-container {
  background-image: url("../assets/projects/tonyRomo.png");
  background-size: cover;
  height: 500px;
}

.content {
  background-color: white;
  padding-left: 25px;
  display: table-cell;
  height: 100%;
}

.tech-row {
  width: 75%;
  margin: 0 auto;
}

.source-code {
  margin-top: 20px;
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

.gray {
  background-color: #fafafa;
}

.slider {
  margin-top: 75px;
  margin-bottom: 75px;
  margin-right: auto;
  margin-left: auto;
}

.slider-item {
  text-align: center;
}

.slider-img {
  max-width: 100%;
  max-height: 100%;
}

.button-row {
  margin-top: 20px;
  text-align: center;
}

h1 {
  font-size: 32px;
}

h2 {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}

p {
  width: 100%;
}

.tech-span-trips {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

.tech-span-dubs {
  display: block;
  margin-bottom: 15px;
}

.btn-success {
  background-color: #345e49;
  border-color: #345e49;
}

.btn-danger {
  background-color: #5e3449;
  border-color: #5e3449;
}

.btn-read {
  background-color: #34495e;
  border-color: #34495e;
}
